# Default values for infinispan-helm-charts.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image: quay.io/infinispan/server:12.1.3.Final
initContainerImage: registry.access.redhat.com/ubi8-micro
testContainerImage: quay.io/repository/quay/busybox

replicas: 1

container:
  extraJvmOpts: ""
  storage:
    size: 1Gi
    storageClassName: ""
    ephemeral: false
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 500m
      memory: 512Mi

security:
  authentication: true
  secretName: ""
  identities: ""

expose:
  type: Route
  nodePort: 0
  host: ""
  annotations: {}

logging:
  categories: {}

cloudEvents:
  bootstrapServers: ""
  acks: ""
  cacheEntriesTopic: ""

affinity: {}

makeDataDirWritable: false

nameOverride: ""
